body{
  background-color:#000000; ;
}
.search-container{
 display:flex;
 margin-bottom: 30px;
 margin-top: 30px;
 margin-left: 450px;
}
.home{
  position: absolute;
  top:32px;
  left: 30px;
  
}
#input{
  border:none;
  border-color: #ffffff;
  box-shadow:0 0 10px rgba(255, 255, 255, 0.99);
  width:300px;
  padding:7px;
  border-top-left-radius:7px;
  border-bottom-left-radius:7px;
  outline:none;
  
}
.material-symbols-outlined.home-icon{
  box-shadow:0 0 15px rgba(255, 255, 255, 0.99);
  border-color:#ffffff;
  background-color: #ffffff;
  padding:7px;
  border-top-right-radius:7px;
  border-bottom-right-radius:7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius:7px;
}

button.mic-btn {
  all: unset; 
  cursor: pointer;
}
.material-symbols-outlined{
  background-color: #ffffff;
   box-shadow:0 0 15px rgba(255, 255, 255, 0.99); ;

}
.material-symbols-outlined.home-icon:hover{
  box-shadow:0 0 15px rgba(255, 255, 255, 0.99);
  transform: scale(1.05) ;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.material-symbols-outlined.search-icon{
   box-shadow:0 0 15px rgba(255, 255, 255, 0.99); ;
  border-color:#ffffff;
  background-color: #ffffff;
    border-top-right-radius:7px;
  border-bottom-right-radius:7px;
  padding:7px;
  cursor: pointer;
}
.link{
text-decoration: none;
}
.card {
  border: 1px solid rgba(72, 67, 67, 0.196);
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(88, 88, 88, 0.99);
  background-color:#0a0a0a7f;
  padding: 20px;
  margin: 20px;
  width: 300px;
  padding-bottom: 28px;
  height: 350px;
  transition: all 0.3s ease-in-out;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.card:hover {
  box-shadow: 0 0 20px lch(100% 0.01 296.81 / 0.7);
   background-color: #050404;
  cursor: pointer;
  transform: scale(1.05);
}

.card--image {
  border-radius: 9px;
  width: 300px;
  height: 180px;
}

.card h2,
.card h3,
.card p {
  color: #ffffff;
  text-align: left;
}
